/* Imports */
@import url(http://fonts.googleapis.com/css?family=Oswald:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.has-error small{color:red;font-weight:normal;margin-left:5px;}
#jumbotron-index{margin-top:50px;background:#ffff;color:#ffff;}

html, body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    background: #F7F7F7;
  }